Repository CICE-Consortium/Icepack, pull requests merged in 2018-02, with the labels that each got.

#157 Miscellany1
  configuration/driver/icedrv_forcing.F90
  configuration/scripts/tests/timeseries.csh
  doc/source/user_guide/ug_troubleshooting.rst
Labels: Documentation, scripts

#160 ISPOL data interpolation bug
  configuration/driver/icedrv_forcing.F90
  configuration/scripts/tests/timeseries.csh
Labels: biogeochemistry, bug, driver/infrastructure

#163 changes to default settings and interpolation bug fix
  configuration/driver/icedrv_forcing.F90
  configuration/scripts/icepack_in
  configuration/scripts/options/set_nml.SHEBA
  configuration/scripts/options/set_nml.alt01
  configuration/scripts/tests/base_suite.ts
Labels: bug, driver/infrastructure, testing

#164 Make Timeseries fonts larger
  configuration/scripts/tests/timeseries.csh
Labels: scripts
