Repository CICE-Consortium/Icepack, pull requests merged in 2020-06, with the labels that each got.

#323 add MACHINFO and ENVINFO, remove thunder and loft
  configuration/scripts/icepack.batch.csh
  configuration/scripts/icepack.build
  configuration/scripts/icepack.settings
  configuration/scripts/machines/Macros.loft_gnu
  configuration/scripts/machines/Macros.thunder_intel
  configuration/scripts/machines/env.badger_intel
  configuration/scripts/machines/env.cheyenne_gnu
  configuration/scripts/machines/env.cheyenne_intel
  configuration/scripts/machines/env.cheyenne_pgi
  configuration/scripts/machines/env.conda_linux
  configuration/scripts/machines/env.conda_macos
  configuration/scripts/machines/env.conrad_cray
  configuration/scripts/machines/env.conrad_gnu
  configuration/scripts/machines/env.conrad_intel
  configuration/scripts/machines/env.conrad_pgi
  configuration/scripts/machines/env.cori_intel
  configuration/scripts/machines/env.gaffney_gnu
  configuration/scripts/machines/env.gaffney_intel
  configuration/scripts/machines/env.gaffney_pgi
  configuration/scripts/machines/env.gordon_cray
  configuration/scripts/machines/env.gordon_gnu
  configuration/scripts/machines/env.gordon_intel
  configuration/scripts/machines/env.gordon_pgi
  configuration/scripts/machines/env.high_Sierra_gnu
  configuration/scripts/machines/env.hobart_intel
  configuration/scripts/machines/env.hobart_nag
  configuration/scripts/machines/env.izumi_gnu
  configuration/scripts/machines/env.izumi_intel
  configuration/scripts/machines/env.izumi_nag
  configuration/scripts/machines/env.izumi_pgi
  configuration/scripts/machines/env.koehr_gnu
  configuration/scripts/machines/env.koehr_intel
  configuration/scripts/machines/env.koehr_pgi
  configuration/scripts/machines/env.loft_gnu
  configuration/scripts/machines/env.onyx_cray
  configuration/scripts/machines/env.onyx_gnu
  configuration/scripts/machines/env.onyx_intel
  configuration/scripts/machines/env.testmachine_intel
  configuration/scripts/machines/env.thunder_intel
  configuration/scripts/machines/env.travisCI_gnu
  configuration/scripts/tests/baseline.script
  configuration/scripts/tests/report_results.csh
  doc/source/user_guide/ug_case_settings.rst
  doc/source/user_guide/ug_running.rst
  icepack.setup
Labels: Documentation, Priority: Low, Scripts, Testing

#324 Add lcov capability
  README.md
  configuration/scripts/icepack.batch.csh
  configuration/scripts/icepack.build
  configuration/scripts/icepack.launch.csh
  configuration/scripts/icepack.run.setup.csh
  configuration/scripts/icepack.settings
  configuration/scripts/icepack.test.setup.csh
  configuration/scripts/machines/Macros.cheyenne_gnu
  configuration/scripts/machines/Macros.conrad_gnu
  configuration/scripts/machines/Macros.gaffney_gnu
  configuration/scripts/machines/Macros.gordon_gnu
  configuration/scripts/machines/Macros.izumi_gnu
  configuration/scripts/machines/Macros.koehr_gnu
  configuration/scripts/machines/Macros.onyx_gnu
  configuration/scripts/machines/Macros.travisCI_gnu
  configuration/scripts/machines/env.cheyenne_gnu
  configuration/scripts/machines/env.conrad_gnu
  configuration/scripts/set_version_number.csh
  configuration/scripts/setup_run_dirs.csh
  configuration/scripts/tests/icepack.codecov.csh
  configuration/scripts/tests/icepack.lcov.csh
  configuration/scripts/tests/icepack.results.csh
  configuration/scripts/tests/poll_queue.csh
  doc/source/user_guide/ug_case_settings.rst
  doc/source/user_guide/ug_testing.rst
  icepack.setup
Labels: Priority: Low, Testing, Type: Feature

#320 Add fswthru as four components.
  columnphysics/icepack_flux.F90
  columnphysics/icepack_shortwave.F90
  columnphysics/icepack_therm_vertical.F90
  configuration/driver/icedrv_arrays_column.F90
  configuration/driver/icedrv_flux.F90
  configuration/driver/icedrv_init_column.F90
  configuration/driver/icedrv_step.F90
  doc/source/icepack_index.rst
Labels: Driver/Interface
