Repository CICE-Consortium/Icepack, pull requests merged in 2020-04, with the labels that each got.

#307 Isotopes for Icepack
  LICENSE.pdf
  columnphysics/icepack_atmo.F90
  columnphysics/icepack_flux.F90
  columnphysics/icepack_intfc.F90
  columnphysics/icepack_isotope.F90
  columnphysics/icepack_itd.F90
  columnphysics/icepack_mechred.F90
  columnphysics/icepack_therm_itd.F90
  columnphysics/icepack_therm_vertical.F90
  columnphysics/icepack_tracers.F90
  configuration/driver/icedrv_InitMod.F90
  configuration/driver/icedrv_RunMod.F90
  configuration/driver/icedrv_diagnostics.F90
  configuration/driver/icedrv_domain_size.F90
  configuration/driver/icedrv_flux.F90
  configuration/driver/icedrv_forcing_bgc.F90
  configuration/driver/icedrv_init.F90
  configuration/driver/icedrv_restart.F90
  configuration/driver/icedrv_step.F90
  configuration/scripts/icepack.build
  configuration/scripts/icepack.settings
  configuration/scripts/icepack_in
  configuration/scripts/machines/env.badger_intel
  configuration/scripts/options/set_env.isotope
  configuration/scripts/options/set_nml.isotope
  configuration/scripts/tests/base_suite.ts
  doc/source/icepack_index.rst
  doc/source/master_list.bib
  doc/source/science_guide/sg_bgc.rst
  doc/source/science_guide/sg_tracers.rst
  doc/source/user_guide/interfaces.include
  doc/source/user_guide/lg_protocols.rst
  doc/source/user_guide/lg_sequence.rst
  doc/source/user_guide/ug_case_settings.rst
  doc/source/user_guide/ug_implementation.rst
Labels: Analysis, Priority: High, Type: Feature

#311 Add ksno as a namelist parameter.
  configuration/driver/icedrv_init.F90
  configuration/scripts/icepack_in
  doc/source/user_guide/ug_case_settings.rst
Labels: Priority: Low, Scripts, Type: Feature

#312 Update cori batch setup
  configuration/scripts/icepack.batch.csh
Labels: Porting, Priority: Medium

#310 update test reporting
  configuration/scripts/icepack.test.setup.csh
  configuration/scripts/tests/report_results.csh
  configuration/scripts/tests/test_restart.script
  configuration/scripts/tests/test_smoke.script
  doc/source/user_guide/ug_testing.rst
  icepack.setup
Labels: Priority: Medium, Scripts, Testing, Type: Feature

#313 Add Code Coverage Capability
  .travis.yml
  README.md
  codecov.yml
  configuration/scripts/icepack.settings
  configuration/scripts/machines/Macros.conrad_gnu
  configuration/scripts/machines/Macros.gaffney_gnu
  configuration/scripts/machines/Macros.gordon_gnu
  configuration/scripts/machines/Macros.high_Sierra_gnu
  configuration/scripts/machines/Macros.izumi_gnu
  configuration/scripts/machines/Macros.koehr_gnu
  configuration/scripts/machines/Macros.onyx_gnu
  configuration/scripts/machines/Macros.travisCI_gnu
  configuration/scripts/tests/report_results.csh
  doc/source/developer_guide/dg_scripts.rst
  doc/source/user_guide/ug_testing.rst
  icepack.setup
Labels: Priority: Low, Scripts, Testing, Type: Feature
